@model IEnumerable<AutomatedOnlineFoodOrdering.Models.CATEGORy>

@{
    ViewBag.Title = "CategoryIndex";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<button class="btn-primary create-btn">
    @Html.ActionLink("Add New Category", "AddCategory")
</button>
@using (Html.BeginForm("CategoryIndex", "Category", FormMethod.Get, new { @style = "color:black;" }))
{

    @Html.TextBox("search")
    <input type="submit" value="Search" />

}
<table class="table">
    <tr>
        <th>ID </th>
        <th>FOOD CATEGORY NAME</th>
        <th>AVAILABLE</th>
        <th>THE DATE IT WAS ADDED</th>
        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr><td style="color:red; font-size:20px;">No Match found</td></tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <button class="btn-primary option-btn"> @Html.ActionLink("Edit", "EditCategory", new { id = item.CategoryId }) </button>
                    <button class="btn-primary option-btn"> @Html.ActionLink("Details", "CategoryDetails", new { id = item.CategoryId }) </button>
                    <button class="btn-danger option-btn"> @Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryId })</button>
                </td>
            </tr>
        }
    }
    </table>
