@using AutomatedOnlineFoodOrdering.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<FOOD>

@{
    ViewBag.Title = "StoreIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-body">
    <div class="menu">
       
        <div class="main-menu">
            <h1>Our Menu</h1>
            <div class="">
                @Html.Action("ViewCategory", "Store")
<<<<<<< HEAD

=======
                
>>>>>>> 16a0548b5aa6aeeea224c7b671a922a67b2d2f07
            </div>
        </div>
        <div class="container food">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4 ">
                    <div class="foodbckgrd">

                        <div class="img-container">
                            @*<img class="img-responsive" title="Click to View Product details" src="~/FoodImg/@item.ImageUrl" />*@
<<<<<<< HEAD
                            <img src="~/FoodImg/@item.ImageUrl" class="foodimg" style="width: 200px; " />
=======
                            <img src="~/Images/Plantainfufu3.jpg" class="foodimg" />
>>>>>>> 16a0548b5aa6aeeea224c7b671a922a67b2d2f07
                            <div class="pull-right" style="position:relative; top:-180px;">
                                @if (item.IsActive == true)
                                {
                                    <div class="food-avaliable col-md-12" style="background-color: #79b20a; height:30px;line-height:30px;">Avaliable</div>
                                }
                                else
                                {
                                    <div class="food-not-avaliable col-md-12" style="background-color: orangered; height: 30px; line-height: 30px; ">Not avaliable</div>
                                }
                            </div>
                        </div>
                        <div class="price-descr-buy">
                            <h1>
                                @Html.DisplayFor(modelItem => item.FoodName)
                            </h1>
                            <div class="">
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                            <div class="price">
                                <h2 class="">&#8358 @Html.DisplayFor(modelItem => item.FoodPrice)</h2>
                                <div class="cart">
<<<<<<< HEAD
                                    @if (item.FoodQuantity   > 0)
                                    {
                                        using (Html.BeginForm("AddToCart", "Store",
                                                new { foodId = item.FoodId }, FormMethod.Post))
                                        {

                                            <button type="submit">
                                                <i class=" glyphicon glyphicon-shopping-cart"
                                                   style="text-decoration:none"></i>
                                            </button>

                                        }

                                    }


=======
                                    @Html.ActionLink("OrderNow", "Order", new { }, new {@class= " glyphicon glyphicon-shopping-cart", 
                                        @style="color:white; text-decoration:none" })
                                    
>>>>>>> 16a0548b5aa6aeeea224c7b671a922a67b2d2f07
                                </div>
                            </div>
                            
                        </div>
<<<<<<< HEAD

=======
                        
>>>>>>> 16a0548b5aa6aeeea224c7b671a922a67b2d2f07
                    </div>
                </div>

            }

        </div>
    </div>
    <br />
    <br />
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    </div>
    <div>
<<<<<<< HEAD
        @Html.PagedListPager(Model, page => Url.Action("StoreIndex","Store", new {page = page, category =ViewBag.category}))
=======
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page, category =ViewBag.category}))
>>>>>>> 16a0548b5aa6aeeea224c7b671a922a67b2d2f07
    </div>
</div>