@model IEnumerable<AutomatedOnlineFoodOrdering.Models.FOOD>

@{
    ViewBag.Title = "StoreIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-body">
    <div class="menu">
        <div class="main-menu">
            <h1>Our Menu</h1>
            <ul class="menu-list">
                <li class="active-menu">@Html.ActionLink("All", "Index", "Home")</li>
                <li class="active-menu">@Html.ActionLink("Burger", "Index", "Home")</li>
                <li class="active-menu">@Html.ActionLink("Pizza", "Index", "Home")</li>
                <li class="active-menu">@Html.ActionLink("Pasta", "Index", "Home")</li>
                <li class="active-menu">@Html.ActionLink("Fries", "Index", "Home")</li>
            </ul>
        </div>
        <div class="container food">

            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4 ">
                    <div class="foodbckgrd">

                        <div class="img-container">
                            <img src="~/Images/Plantainfufu3.jpg" class="foodimg" />
                        </div>
                        <div class="price-descr-buy">
                            <h1>
                                @Html.DisplayFor(modelItem => item.FoodName)
                            </h1>
                            <div>
                                @Html.DisplayFor(modelItem => item.Description)
                            </div>
                            <div class="price">
                                <h4> @Html.DisplayFor(modelItem => item.FoodPrice)</h4>
                                <div class="cart">
                                    @Html.ActionLink("Order Now", "Order", new { }, new {@class="btn-primary" })
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>